{% extends "blindstick/header.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>User</th>
            <th>Device</th>
            <th>Location</th>
            <th>Time</th>
            <th>Is_Processed</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
            <tr>
                <td>{{ obj.user }}</td>
                <td>{{ obj.device }}</td>
                <td>{{ obj.location }}</td>
                <td>{{ obj.time }}</td>
                <td>{{ obj.is_processed }}</td>
                <td><form action="edit/?username={{ obj.user }}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="process">
                </form></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
function myrefresh() {
    window.location.reload();

}
setTimeout('myrefresh()', 5000); //five second reload
</script>
{% endblock %}